<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundedProduct.title %></title>
    <link rel="stylesheet" href="./main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- modal -->
 



    <!-- card -->
    <div class="container mb-5 pb-5">
      <h1 class="mt-5 mb-3"><%=foundedProduct.title? foundedProduct.title.slice(0,50):"no value"  %>.../h1>
      <div class="card-box d-flex justify-content-between flex-wrap gap-3">


 
        <div class="card" style="width: 90rem">
          <img src=<%= foundedProduct.img %> class="card-img-top" alt="..." height="500"/>
          <div class="card-body">
            <h5 class="card-title"><%= foundedProduct.title  %></h5>
            <p class="card-text">
              <%= foundedProduct.price  %>
            </p>
            <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#updateModal">
  update

          </div>
          <form action="http://localhost:4001/delete_product/<%= foundedProduct.id %>"method="post"><button type="text" class="btn btn-primary" >
 delete
</button></form>
        </div>
         


      </div>
    </div>
<!-- modal  -->
 <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= foundedProduct.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- update product -->
        <form action="http://localhost:4001/update_product/<%=foundedProduct.id  %>" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text"  class="form-control" id="title" aria-describedby="emailHelp" name="title" value="<%= foundedProduct.title %>">

  </div>
<div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" value= <%= foundedProduct.price %> class="form-control" id="price" aria-describedby="emailHelp" name="price">

  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</button>
 <form action="http://localhost:4001/delete_product/<%= foundedProduct.id %>"method="post"><button type="text" class="btn btn-primary" >
 delete
</button></form>

<!-- update product -->
      </div>

    </div>
  </div>
</div>



<!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
